<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Ariel Hernandez</title>
  <meta name="description" content="Find us online!">
  <meta name="author" content="Ariel Hernandez">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton-dark.css">
  <link rel="stylesheet" href="css/brands.css">
  <link rel="stylesheet" href="css/profile.css">
  <link rel="icon" type="image/png" href="images/avatar.png">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">
        
        <img src="images/avatar.png" srcset="images/avatar@2x.png 2x" class="avatar">
        <h2>Ariel Hernandez</h2>
        <p>You can contact me on different platforms</a></p>

         <!-- Calendly -->
        <a class="button button-calendly" href="https://calendly.com/arielhernandezcl/30min" target="_blank" rel="noopener" role="button"><img class="icon" src="images/icons/calendly.svg" alt="">Schedule with Calendly</a>
          <br>

        <!-- WhatsApp -->
        <a class="button button-whatsapp" href="https://api.whatsapp.com/send/?phone=56967215785" target="_blank" rel="noopener" role="button"><img class="icon" src="images/icons/whatsapp.svg" alt="">WhatsApp</a>
        <br>

        <!-- Telegram -->
        <a class="button button-telegram" href="https://t.me/arielhernandez" target="_blank" rel="noopener"><img class="icon" src="images/icons/telegram.svg" alt="Telegram Logo">Telegram</a>
          <br>   
                      
        <!-- X -->
        <a class="button button-x" href="https://x.com/arielhdezcl" target="_blank" rel="noopener"><img class="icon" src="images/icons/x.svg" alt="Twitter Logo">X</a>
          <br>

        <!-- Instagram -->
        <a class="button button-instagram" href="https://www.instagram.com/arielhernandezcl/" target="_blank" rel="noopener"><img class="icon" src="images/icons/instagram.svg" alt="Instagram Logo">Instagram</a>
          <br>

        <!-- YouTube -->
        <a class="button button-yt" href="https://www.youtube.com/channel/UCvtm9e0UWIrU5TEyNhBn4UQ" target="_blank" rel="noopener"><img class="icon" src="images/icons/youtube.svg" alt="YouTube Logo">YouTube</a>
          <br> 
  
        <!-- Twitch -->
        <a class="button button-twitch" href="https://www.twitch.tv/alounder" target="_blank" rel="noopener"><img class="icon" src="images/icons/twitch.svg" alt="Twitch Logo">Twitch</a>
          <br>        
                
        <!-- Github -->
        <a class="button button-github" href="https://github.com/arielhernandezcl" target="_blank" rel="noopener"><img class="icon" src="images/icons/github.svg" alt="GitHub Logo">GitHub</a>
          <br>

        <!-- LinkedIn -->
        <a class="button button-linked" href="https://www.linkedin.com/in/arielhernandezcl/" target="_blank" rel="noopener"><img class="icon" src="images/icons/linkedin.svg" alt="LinkedIn Logo">LinkedIn</a>
          <br>
        
        <!-- Medium -->
        <a class="button button-medium" href="https://medium.com/@arielhernandezcl" target="_blank" rel="noopener" role="button"><img class="icon" src="images/icons/medium.svg" alt="">Medium</a>
          <br>

        <!-- SoundCloud -->
        <a class="button button-soundcloud" href="https://soundcloud.com/alounder" target="_blank" rel="noopener" role="button"><img class="icon" src="images/icons/soundcloud.svg" alt="">SoundCloud</a>
          <br>

        <!-- PayPal -->
        <a class="button button-paypal" href="https://paypal.me/arielhernandezcl?country.x=CL&locale.x=es_XC" target="_blank" rel="noopener" role="button"><img class="icon" src="images/icons/paypal.svg" alt="">PayPal</a>
          <br>
          
      </div>
    </div>
  </div>
  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "2912c2e4ccc948f5ae4a3098f349ac3f"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>
